$prefix: 'rc-button';

.#{$prefix} {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  background-color: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  &:focus {
    outline: 0;
  }
  &:focus,
  &:hover {
    background: #40a9ff;
    border-color: #40a9ff;
  }
  &:active {
    background-color: #3a8ee6;
    border-color: #3a8ee6;
  }
}
