.form {
  width: 400px;
  > div {
    margin-bottom: 20px;
  }
  > button {
    width: 100%;
  }
  .socket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    > div:first-child {
      width: 65%;
    }
    > div:last-child {
      width: 30%;
    }
  }
}
