$prefix: 'rc-tabs';

.#{$prefix} {
  position: relative;
  width: 100%;
  height: calc(100% - 45px);
  overflow: hidden;
  background-color: #fff;
  outline: 0;
}

.#{str-slice($prefix, 1, 6)} {
  position: relative;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
