@import 'mapleaf/dist/mapleaf.css';

#root {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

// compatible
body {
  margin: 0;
}
