@import '@/styles/animation.scss';

$prefix: 'rc-mask';

.#{$prefix} {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: fade_out(black, 0.5);
  animation: fade-in 0.3s;
}
