@import '@/styles/animation.scss';

$prefix: 'rc-dialog';

.#{$prefix} {
  $width: 50%;
  $heith: 50%;

  position: fixed;
  right: 50%;
  bottom: 50%;
  z-index: 2;
  box-sizing: border-box;
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
  transform: translate(50%, 50%);
  animation: zoom-in 0.3s;
  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    > h1 {
      margin: 0;
      color: #555;
      font-size: 1.15em;
    }
    > svg {
      width: 1.15em;
      height: 1.15em;
      color: #555;
      transition: all 0.2s;
      &:hover {
        color: #409eff;
      }
    }
  }
}
