@use 'sass:math';

@mixin round($radius: 0.8rem, $color: #000) {
  $spread: math.div($radius, 2);
  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: $radius;
    height: $radius;
    content: '';
    border-radius: 100%;
  }
  &::before {
    left: -$radius;
    clip-path: inset(50% $radius * -1 0 50%);
    box-shadow: 0 0 0 $spread $color;
  }
  &::after {
    right: -$radius;
    clip-path: inset(50% 50% 0 $radius * -1);
    box-shadow: 0 0 0 $spread $color;
  }
}

#root {
  .app {
    background-color: #333;
  }

  .rc-menus {
    width: calc(100vw - 3rem);
    padding-top: 0.3rem;
    background-color: #333;

    &::before {
      display: none;
    }

    > .rc-menu {
      background-color: #333;
      border: none;
      border-radius: 0.5rem 0.5rem 0 0;
      color: #bfbfbf;
      font-size: 0.875rem;
      transition: none;

      &:first-of-type {
        margin-left: 0.3rem;
      }
      &:last-of-type {
        flex-shrink: 0;
        padding: 0 0.6rem;
      }
      &:not(:last-of-type) {
        margin-right: 0;
      }

      @mixin separator {
        position: absolute;
        content: '|';
        color: #888;
        line-height: 1.25rem;
      }
      &:not(:first-of-type) > span::before {
        @include separator;
        left: -0.3rem;
      }
      &:nth-last-of-type(2) > span::after {
        @include separator;
        right: 0;
      }

      &-active:not(:last-of-type) {
        @include round;
        z-index: 1;
        background-color: #000;
        color: #f0f6fc;
        > span {
          &::before,
          &::after {
            content: '';
          }
        }
      }

      > span {
        margin-right: 0.75rem;
        + svg {
          width: 0.7em;
          height: 0.7em;
          color: #bfbfbf;
          &:hover {
            color: #ff4d4f;
          }
        }
      }

      &:hover {
        color: #f0f6fc;
      }
    }
  }

  .rc-tabs {
    height: calc(100% - 2.3rem);
    background-color: #000;
  }

  ~ .rc-mask {
    z-index: 10;
  }

  ~ .rc-dialog {
    z-index: 20;
    border-radius: 0.4rem;
    background-color: #333;
    color: #c9d1d9;
  }
}
